<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=post.topic%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%-include('partials/navbar.ejs')%>
    <div class="sig-post">        
        <div class="top">
            <h1><%=post.topic%></h1>
            <p><%=post.date%></p>
        </div>
         <p><%=post.description%></p>
    </div>
</body>
</html>